.modal-lable{
    width: 40px;
    display:inline-block;
  
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 100px;
    padding: 10px 0;
  }
  
  span {
    width: auto;
    height: auto;
  }